html {
    scroll-behavior: smooth;
}

.column {
    height: 100%;
}

.notification {
    margin: 0.75rem;
    padding: 1rem;
}

.columns > .column > .notification {
    margin-left: 0;
    margin-right: 0;
}
