{% extends 'default.html' %}

{% block content %}
    <a id="about"></a>
    <div class="hero is-dark">
        <div class="hero-body">
            <h1 class="title">About</h1>
            
            <div class="columns">
                <div class="column is-vertical is-two-thirds">
                    {% for item in about|sort(attribute="priority") %}
                        <div class="notification is-{{ loop.cycle('light', 'info') }}">
                            {{ item.content|safe }}
                        </div>
                    {% endfor %}
                </div>
                <div class="column is is-one-third has-text-centered">
                    <div class="notification is-info">
                        <figure class="image is-square">
                            <img src="{{ url_for('static', filename='assets/portrait.jpeg') }}" alt="Benji Levine portrait">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a id="projects"></a>
    <div class="hero is-info">
        <div id='projects-body' class="hero-body">
            <h1 class="title">Projects</h1>
            <div class="notification is-dark is-paddingless">
                <div class="tabs is-boxed is-marginless">
                    <ul id="projects-tabs">
                        {% for project in projects|sort(attribute="priority") %}
                            {% if loop.first %}
                                <li id='{{ project.name|replace(' ', '') }}' class="is-active">
                            {% else %}
                                <li id='{{ project.name|replace(' ', '') }}'>
                            {% endif %}
                                <a>
                                    <span>{{ project.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="projects-content">
                    {% for project in projects|sort(attribute="priority") %}
                        {% if loop.first %}
                            <div id='{{ project.name|replace(' ', '') }}-content' class="notification is-light is-radiusless is-marginless">
                        {% else %}
                            <div id='{{ project.name|replace(' ', '') }}-content' class="notification is-light is-radiusless is-marginless is-hidden">
                        {% endif %}
                            {% if project.tags|length %}
                                <div class="columns">
                                    <div class="column is-four-fifths">
                                        <div class="tags">
                                            {% for tag in project.tags|sort(attribute="colour") %}
                                                <span class="tag is-{{ tag.colour }}">{{ tag.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="column is-one-fifth has-text-right">
                                        <span class="tag is-danger is-light">
                                            {{ project.date }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            <p>{{ project.description|safe }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <a id="skills"></a>
    <div class="hero is-dark">
        <div class="hero-body">
            <h1 class="title">Skills</h1>
            <div class="columns">
                <div class="column">
                    {% set ns = namespace(long_cols=0,num_in_col=0) %}
                    {% for skill in skills if skill.name %}
                        {% if loop.length < 15 %}
                            {% set num_cols = 7 %}
                        {% else %}
                            {% set num_cols = 8 %}
                        {% endif %}
                        {% if loop.length % num_cols > 0 %}
                            {% set remainder = loop.length % num_cols %}
                        {% else %}
                            {% set remainder = num_cols %}
                        {% endif %}
                        {% if ns.long_cols < remainder %}
                            {% set num_rows = (loop.length / num_cols)|round(0, 'ceil') %}
                        {% else %}
                            {% set num_rows = ((loop.length / num_cols) - 1)|round(0, 'ceil') %}
                        {% endif %}
                        {% if ns.num_in_col >= num_rows %}
                            {% set ns.long_cols = ns.long_cols + 1 %}
                            {% set ns.num_in_col = 0 %}
                            </div>
                            <div class="column">
                        {% endif %}
                        <div class="notification has-text-centered">
                            {% if skill.img %}
                                <div class="image">
                                    <a href="{{ skill.url }}">
                                        <img src="{{ url_for('static', filename="assets/icons/" + skill.img) }}" alt="{{ skill.name }} Logo">
                                    </a>
                                </div>
                            {% endif %}
                            <span class="has-text-centered has-text-dark">
                                <a href="{{ skill.url }}">
                                    {{ skill.name }}
                                </a>
                            </span>
                        </div>
                        {% set ns.num_in_col = ns.num_in_col + 1 %}
                        {% if loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>

    <a id="cv"></a>
    <div class="hero is-info">
        <div class="hero-body">
            <h1 class="title">CV</h1>
            <div class="columns">
                <div class="column notification is-one-third is-light">
                    <div class="image is-square">
                        <img src="{{ url_for('static', filename='assets/Madrid.jpg') }}" alt="Benji Levine photo">
                    </div>
                </div>
                <div class="column notification is-light">
                    <a class="button is-primary is-fullwidth is-large" href="{{ url_for('static', filename='assets/Benji_Levine_CV.pdf') }}"><strong>Download Benji's CV here</strong></a>
                </div>
            </div>
        </div>
    </div>

    <a id="contact"></a>
    <div class="hero is-dark">
        <div class="hero-body">
            <h1 class="title">Contact</h1>
            <div class="columns">
                <div class="column notification is-light">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="field notification is-primary">
                                    <span><strong>{{ message }}</strong></span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form method="post" action="/" name="contact">
                        {{ form.csrf_token }}
                        <div class="field">
                            <p class="control has-icons-left">
                                {{ form.name }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                {{ form.email }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                {{ form.message }}
                            </p>
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ form.submit }}
                            </div>
                        </div>
                    </form>
                </div>

                <div class="column notification is-light">
                    <div class="buttons">
                        <a class="button is-medium is-fullwidth is-dark" href="https://www.linkedin.com/in/benjilevine/">
                            <span class="icon">
                                <i class="fab fa-linkedin"></i>
                            </span>
                            <span>
                                LinkedIn
                            </span>
                        </a>
                    </div>
                    <div class="buttons">
                        <a class="button is-medium is-fullwidth" href="https://github.com/benjilev08/">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>
                            <span>
                                GitHub
                            </span>
                        </a>

                    </div>
                    <div class="buttons">
                        <a class="button is-medium is-fullwidth is-dark" href="mailto:benji@benjilevine.com">
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span>
                                benji@benjilevine.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
