{% extends 'default.html' %}

{% block content %}
    <div class="hero is-dark" id="about">
        <div class="hero-body">
            
            <div class="columns">
                <div class="column notification is-info">
                    <p>
                        <strong>Benji Levine</strong> is an enthusiastic and hardworking recent <strong>Computer Systems Engineering</strong> graduate from the <strong>University of Warwick</strong>, with skills in software engineering, system administration, and DevOps.
                    </p>
                    <br>
                    <p>
                        Benji is currently travelling the world to learn about different cultures and discover new areas of interest.
                    </p>
                    <p>
                        Having started travelling in October 2019, he has so far visited Madrid and Paris.
                    </p>
                    <br>
                    <p>
                        Benji graduated from the University of Warwick in July 2019 with a high 2:1 in Computer Systems Engineering BEng.
                        He was one of the first eight students to study Computer Systems Engineering at Warwick, and one of the first five to graduate.
                        The course provided <a href="#skills">a variety of valuable skills</a>, particularly helped by Benji's personal tutors; Matt Leeke and Suhaib Fahmy.
                    </p>
                    <p>
                    Suhaib Fahmy also supervised Benji during his final year project on <span class="is-italic">Modelling Smart Field-Programmable Gate Array Switches in the Network</span>. The report for this project can be found <a href="{{ url_for('static', filename='assets/final_report.pdf') }}">here</a>, and the project code is publicly available on <a href="https://github.com/benjilev08/fpga_switch_model">GitHub</a>.
                    </p>
                    <br>
                    <p>
                        Whilst at Warwick, Benji held the position of <span class="is-italic">IT Officer</span> at <a href="https://warwick.film/">Warwick Student Cinema</a> for two years.
                        This position involved managing all of the society's IT equipment, including firewalls, Windows and Linux servers, a large PHP-based website, various database, containers, virtual machines, an internal Wi-Fi network, network switches, an Active Directory for 50+ users, Windows workstations, an electronic point-of-sale (EPOS) system, and more.
                        The experience gained from this position was invaluable, providing exposure to equipment and architectures which are hard to find outside of a professional environment.
                    </p>
                </div>
                <div class="column notification is-one-third is-info">
                    <div class="image is-square">
                        <img src="{{ url_for('static', filename='assets/portrait.jpeg') }}" alt="Benji Levine portrait">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero is-info" id="projects">
        <div class="hero-body">

        </div>
    </div>
    <div class="hero is-dark" id="skills">
        <div class="hero-body">

        </div>
    </div>
    <div class="hero is-info" id="contact">
        <div class="hero-body">

        </div>
    </div>
{% endblock %}
